.header_logo {
  width: 200px;
  object-fit: contain;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  height: 100px;
  box-sizing: border-box;
  position: static;
  top: 0;
  z-index: 999;
}
.header_searchIcon {
  color: #000;
  margin-left: 0px;
  background-color: orange;
  width: 15px;
  height: 15px;
  padding: 5px;
}
.header_search {
  display: flex;
  flex: 1;
  align-items: center;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: #fff;
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header_searchInput {
  height: 25px;
  box-sizing: border-box;
  border: 0;
}
