.box{
    width: 300px;
    height: 120px;
    margin: 20px;
    background: #000;
    border-radius: 25px;
    box-shadow: 10px 10px 0 #ddd;
    text-align: center;
    font-size: 20px;
    color: #fff;
}